@import "normalize.css";
@import "@blueprintjs/core/lib/css/blueprint.css";
// include blueprint-icons.css for icon font support
@import "@blueprintjs/icons/lib/css/blueprint-icons.css";

:root {
  --pomodoro: hsl(223, 25%, 40%);
  --shortBreak: hsl(48, 23%, 40%);
  --longBreak: hsl(105, 16%, 40%);
}

body {
  margin: 0;
  transition: background-color 1s ease;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.App {
  height: 100vh;
  display: flex;
  justify-content: center;

  button {
    cursor: pointer;
  }

  h1 {
    color: rgb(151, 108, 21);
  }

  .timer {
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    &-header {
      display: flex;
      flex-direction: column;
      align-items: end;

      &-settings {
        padding-top: 10px;
        background: none;
        outline: none;
        border: none;
        font-size: xx-large;
      }
    }

    &-sessions {
      display: flex;
      align-self: center;
      justify-content: center;
      color: rgb(0, 147, 56);
      background-color: #f5ebeb;
      box-shadow: rgb(235, 235, 235) 0px 6px 0px;
      border-radius: 4px;
      width: 200px;
      gap: 0.2rem;
    }

    &-status {
      display: flex;
      justify-content: center;
      color: white;
      gap: 1rem;

      &-button {
        background: none;
        border: 1px solid transparent;
        border-radius: 4px;
        font-weight: 300;
        font-size: 16px;
        color: #fff;
        padding: 2px 12px;

        &-active {
          border-color: #fff;
        }
      }
    }

    &-time {
      display: flex;
      justify-content: center;
      align-items: center;

      &-text {
        margin: 0;
        font-size: clamp(1vw, 40vw, 250px);
        font-weight: 300;
        font-family: arial, sans-serif;
        color: black;

        border-radius: 0.3rem;

        &-disabled {
          color: rgb(65, 65, 65);
        }
      }
    }

    &-buttons {
      display: flex;
      justify-content: center;
      gap: 0.2rem;

      button {
        border-radius: 1rem;
        border: none;
        font-size: large;
        color: rgb(0, 0, 0);
        background-color: rgb(194, 190, 186);
        width: 6rem;
        font-weight: bold;
        padding-top: 5px;
        padding-bottom: 5px;
      }
    }
  }
}
